<h2 class="depthToken text-center">Account Orders</h2>
<div>
  <div class="row">
<!--    <div class="col-md-4"></div>-->
    <div>
      <table class="table table-bordered">
        <tr>
          <th colspan="18"><h3 class="text-center my-4">All Orders</h3></th>
        </tr>
        <tr>
          <th>Client Order ID</th>
          <th>Cummulative Quote Qty</th>
          <th>Order ID</th>
          <th>Orig Qty</th>
          <th>Price</th>
          <th>Side</th>
          <th>Status</th>
          <th>Stop Price</th>
          <th>Symbol</th>
          <th>Time In Force</th>
          <th>Type</th>
          <th>Time</th>
          <th>Save</th>
        </tr>
        <tr *ngFor="let data of allorderData; let i = index ">
          <td>{{ allorderinterface[i].clientOrderId }}</td>
          <td>{{ allorderinterface[i].cummulativeQuoteQty }}</td>
          <td>{{ allorderinterface[i].orderId }}</td>
          <td>{{ allorderinterface[i].origQty }}</td>
          <td>{{ allorderinterface[i].price }}</td>
          <td>{{ allorderinterface[i].side }}</td>
          <td>{{ allorderinterface[i].status }}</td>
          <td>{{ allorderinterface[i].stopPrice }}</td>
          <td>{{ allorderinterface[i].symbol }}</td>
          <td>{{ allorderinterface[i].timeInForce }}</td>
          <td>{{ allorderinterface[i].type }}</td>
          <td>{{ allorderinterface[i].time }}</td>
          <td><button type="button" class="btn btn-link" (click)="saveData(i)" [disabled]="allorderinterface[i].savedStatus ? 'disabled' : null">Save</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>


<!--<div>{{ allorderData?.[0].symbol }}</div>-->
